<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybj.auth.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ybj.auth.model.UserRole" >
      <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
      <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
      <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectRoleIdByUser" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select ROLE_ID from TBL_USER_ROLE where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="getRoleByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
        userRole.USER_ID,
        userRole.ROLE_ID,
        roles.ROLE_NAME ROLE_NAME
    from TBL_USER_ROLE userRole
    left join TBL_ROLE roles
    on roles.OID = userRole.ROLE_ID
    where userRole.USER_ID=#{USER_ID}
  </select>
	
	
</mapper>